aniso8601==7.0.0
asgiref==3.2.3
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.0.3
Django==3.0.14
django-cors-headers==3.2.1
django-request-logging==0.7.1
graphene==2.1.8
graphene-django==2.9.1
graphene-file-upload==1.2.2
graphql-core==2.3.1
graphql-relay==2.0.1
idna==2.9
jsons==1.1.2
more-itertools==8.2.0
packaging==20.1
Pillow==8.1.1
pluggy==0.13.1
promise==2.3
py==1.8.1
PyJWT==1.7.1
pyparsing==2.4.6
pytest==5.3.5
pytest-cov==2.8.1
pytz==2019.3
requests==2.23.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0
typish==1.6.0
urllib3==1.25.9
wcwidth==0.1.8
